h1{
  padding-left: 30px;
}

button{
  margin: 10px;
  float: left;
}

.container-fluid{
  float-left;
}

form {
  float: left;
  border: solid black 2px;
  position: relative;
}

#gifArea {
  float: left;
  border: solid black 2px;
  width: 70%;
  margin: 0px;
}

.gif{
  float:left;
  padding-right: 20px;
}

#gifTag{
  width: 80px;
  height: 30px;
  margin: 20px;
  padding: 5px ;
  position: relative;
  border: solid red 2px;
}

.rate{
  float:left;
}

img{
  margin: 20px;
  height: 150px;
  padding-right: 20px;
  float: left;
}